.color-card {
  margin: 15px 15px 0 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px white;
  border-radius: 5px;
}

.color-card__highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  margin-right: 5px;
}

.color-card__delete-button,
.color-card__cancel-button,
.color-card__edit-button,
.color-card__copy-button {
  text-transform: uppercase;
  margin-right: 5px;
}

.color-card__contrastCheck {
  margin-bottom: 5px;
}
