.color-form__field {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
}

.color-form__input-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-card__add-button {
  text-transform: uppercase;
}

.color-form__button-wrapper {
  margin: 0px 10px;
  padding: 5px 0;
}

.color-form__label {
  font-weight: 600;
}
