body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(252, 175, 124),
    rgb(248, 94, 107),
    #8a47f5
  );
  background-color: #aa93fd;
}

.add-new-colors {
  margin: 0px 10px;
  padding: 5px;
}

.app-headline {
  margin: 0px 10px;
  padding: 15px;
  text-align: center;
}

.theme-creator__dropdown {
  margin: 0px 0px 0px 10px;
}

.theme-creator__add-theme {
  text-transform: uppercase;
  margin: 0px 2px 0px 4px;
}

.theme-creator__edit-theme,
.theme-creator__delete-theme {
  text-transform: uppercase;
  margin: 0px 2px;
}

.theme-form__cancel-button {
  text-transform: uppercase;
  margin: 0px 10px;
}

.theme-switcher {
  position: relative;
  display: inline-block;
}

.theme-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: white;
  border: 1px solid #ccc;
}
