body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #aa93fd, rgb(250, 182, 182));
  background-color: #aa93fd;
}

.add-new-colors {
  margin: 0px 10px;
  padding: 5px;
}

.app-headline {
  margin: 0px 10px;
  padding: 15px;
  text-align: center;
}
