body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;

  background: linear-gradient(to bottom, #aa93fd, #f1c3ce);

  background-color: #ff7e5f;
}

.add-new-colors {
  margin: 0px 10px;
  padding: 5px;
}

.app-headline {
  margin: 0px 10px;
  padding: 20px;
  text-align: center;
}
